data/flows.json
[{"id":"84d83759.679448","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7670971e.869268","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d4e4e30b.8a4e8","type":"http in","z":"84d83759.679448","name":"[POST] score","url":"/score","method":"post","upload":false,"swaggerDoc":"","x":200,"y":180,"wires":[["c5d8a972.799788"]]},{"id":"a19107cf.729e48","type":"debug","z":"84d83759.679448","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":180,"wires":[]},{"id":"c5d8a972.799788","type":"template","z":"84d83759.679448","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Inserting this into the database\nemail: {{payload.email}}\nscore: {{payload.score}}\ndisplay-name: {{payload.display-name}}","output":"str","x":460,"y":180,"wires":[["a19107cf.729e48","4c577f73.959e1"]]},{"id":"aaa8bba0.76e888","type":"http in","z":"84d83759.679448","name":"[GET] score","url":"/score","method":"get","upload":false,"swaggerDoc":"","x":200,"y":100,"wires":[["d68e99ee.038d08"]]},{"id":"d68e99ee.038d08","type":"template","z":"84d83759.679448","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello-world","output":"str","x":460,"y":100,"wires":[["22e60b74.4e6e84"]]},{"id":"22e60b74.4e6e84","type":"http response","z":"84d83759.679448","name":"","statusCode":"200","headers":{},"x":710,"y":120,"wires":[]},{"id":"4c577f73.959e1","type":"http response","z":"84d83759.679448","name":"","statusCode":"200","headers":{},"x":720,"y":260,"wires":[]}]